.container {
  border: 1px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* width: 100%; */
}

.sectionTitle {
  font-size: 112px;
  line-height: 57px;
  align-self: flex-start;
  width: 83.33%;
  margin-top: 190px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  text-align: left;
  font-weight: normal;
}

.sectionSeparator {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 0.25rem;
  /*   flex-shrink: 0; */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
  align-items: flex-start;
}

.yearOfBirth {
  font-size: 20rem;
  color: #555555;
  position: absolute;
  z-index: 50;
  top: 734px;
  left: 0;
  text-align: left;
}

.imageContainer {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-start;
  padding-top: 9rem;
  padding-bottom: 26rem;
  padding-left: 0.75rem;
}

.imageText {
  font-size: 4rem;
  color: white;
  width: 60%;
  height: 100%;
}

.text-about {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 6.5rem;
  width: 60%;
  height: 89.45%;
  z-index: 100;
  background: transparent;
}

.description-about {
  margin-bottom: 0;
  text-align: left;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0);
}
