.artdirect img {
  height: 65vh;
  width: 100%;
  margin-top: 30px;
  object-fit: cover;
}

.container-borderless{
  position: relative;
}

.artdirect-title{
  font-size: calc((100vw - 4.5rem) / 5);
  margin-top: 150px;
  margin-left: 1rem;
  margin-bottom: -0.18em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.borderless{
  font-size: 5em;
  position: absolute;
  bottom: -10px;
  left: 15px;
  background: transparent;
}

.images-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images-container div{
  padding: 0px 35px;
  margin: 10px 5px;
  border: 1px solid;
}