.say-hello {
  padding-top: 150px;
  font-size: 120px;
  font-weight: normal;
  text-align: left;
}

::placeholder {
  color: white;
  font-size: 14px;
}

.contact-container {
  background-color: white !important;
  margin: 10 px;
  border-radius: 0;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}

.form-item {
  flex: 0 0 calc(50% - 2px);
}

input {
  width: 96%;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 2px;
  margin-bottom: 8px;
}

textarea {
  width: 98%;
  height: 200px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 2px;
}

button {
  cursor: pointer;  
  margin-left: 89%;
  padding:10px 40px;
}

.button-submit{
  
}

input:focus,
textarea:focus,
button:focus {
  outline: 3px solid white;
}
