.container-name-acordeon {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  cursor: pointer;
  text-align: left;
  font-size: 9rem;
  border-bottom:white 1px ;
}

.description {
  font-size: 1.5rem;
  padding: 0 50px 20px 50px;
  overflow: hidden;
  text-align: left;
}
/*¨place for heigth for sections */
.a3 {
  height: 2000px;
}


.container-name-acordeon img{
  transition: transform 0.3s ease 0s;
}

.active-arrow{
  transform: rotate(180deg);

}
.active{
  display: none;
}

.name span:nth-child(1){
  color: #585858;
}

.name span:nth-child(2){
  color: #D68000;
}

.white-line-otoñal{
  width: 420px;
  height: 1px;
  background: white;
}
.container-otoñal{
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 492px;
}
.container-texto-otoñal{
  position: absolute;
  right: 10%;
  top: 20%;
}

.container-texto-otoñal p{
  margin-top: 60px;
}
.img-otoñal{
  position: absolute;
  left :0;
  width: 686px;
  height: 492px;
}

