* {
  color: white;
  text-align: center;
  background-color: black;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

.moving-name{
  font-size: 200px;
}

.listnav{
display: flex;
flex-direction: row;
}

.listnav div{
  margin-top: 28px;
  margin-left: 15px;
}

.white-line{
  height: 1px;
  background: white;
}

