.nav {
  background-color: black;
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 28px;
  margin-left: 18px;
  line-height: 1.2;
}
.glitch:hover:before,
.glitch:hover:after {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.glitch:hover:before {
  top: 49.5%;
  left: 49.5%;
  color: rgba(233, 30, 99, 0.8);
  animation: distort1 linear infinite;
}
.glitch:hover:after {
  top: 50.5%;
  left: 50.5%;
  color: rgba(3, 169, 244, 0.8);
  animation: distort2 linear infinite;
}
@keyframes distort1 {
  0% {
    top: 49.5%;
    left: 49.5%;
  }
  12.5% {
    top: 49.5%;
    left: 50%;
  }
  25% {
    top: 49.5%;
    left: 50.5%;
  }
  37.5% {
    top: 50%;
    left: 50.5%;
  }
  50% {
    top: 50.5%;
    left: 50.5%;
  }
  62.5% {
    top: 50.5%;
    left: 50%;
  }
  75% {
    top: 50.5%;
    left: 49.5%;
  }
  87.5% {
    top: 50%;
    left: 49.5%;
  }
  100% {
    top: 49.5%;
    left: 49.5%;
  }
}
@keyframes distort2 {
  0% {
    top: 50.5%;
    left: 50.5%;
  }
  12.5% {
    top: 50%;
    left: 50.5%;
  }
  25% {
    top: 49.5%;
    left: 50.5%;
  }
  37.5% {
    top: 49.5%;
    left: 50%;
  }
  50% {
    top: 49.5%;
    left: 49.5%;
  }
  62.5% {
    top: 50%;
    left: 49.5%;
  }
  75% {
    top: 50.5%;
    left: 49.5%;
  }
  87.5% {
    top: 50.5%;
    left: 50%;
  }
  100% {
    top: 50.5%;
    left: 50.5%;
  }
}

nav a {
  text-decoration: none;
  position: relative;
}

.rigth-nav a {
  margin-left: 50px;
}

.rigth-nav a::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.rigth-nav a:hover::before {
  transform: scale3d(1, 1, 1);
}

.rigth-nav a::before {
  background: rgb(230, 230, 230);
  transform-origin: 100 0%;
}
.rigth-nav a:hover::before {
  transform-origin: 100% 0%;
}
