.nav {
  background-color: black;
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 28px;
  margin-left: 18px;
  line-height: 1.2;
}

nav a {
  text-decoration: none;
}

.rigth-nav a {
  margin-left: 50px;
}